<!DOCTYPE html>
<html>
  <head>
    <title>Skills </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Dev Skills</h1>
    <nav>
      <a href="/skills">List of Skills</a>
      <a href="/skills/new">Add New Skill</a>
    </nav>